.button {
  position: fixed;
  top: 20px;
  right: 42%;
}

.images {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(-45deg);
}
