.list_count {
  position: relative;
  display: grid;
  grid-auto-flow: row-reverse;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.list_style {
  display: inherit;
}

.link_card {
  width: 360px;
  height: 140px;
  padding: 4px 20px;
  border: solid 1px black;
  border-radius: 4px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 739.98px) {
  .list_count {
    right: 0;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .link_card {
    width: 300px;
    height: 120px;
  }
}
