.room {
  position: relative;
  width: 600;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dog {
  z-index: 3;
  position: relative;
  cursor: pointer;
}

.view {
  position: absolute;
  top: 0;
  cursor: pointer;
}
