.positioning {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: -60px;
  color: var(--color-text);
}

.box {
  width: 32px;
  height: 32px;
  border: solid 2px black;
}

.slider {
  width: 80px;
  height: 1px;
  background: black;
}

@media screen and (max-width: 739.98px) {
  .positioning {
    top: 150px;
    left: 60px;
    right: 0;
    bottom: auto;
  }

  .slider {
    width: 40px;
  }
}
