.positioning {
  position: fixed;
  bottom: 100px;
  color: var(--color-text);
}

.box {
  width: 32px;
  height: 32px;
  border: solid 2px black;
}

.slider {
  width: 80px;
  height: 1px;
  background: black;
}

@media screen and (max-width: 739.98px) {
  .positioning {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .slider {
    width: 40px;
  }
}
